# Kernellum reference constraints for ULX3S v2.x / v3.0.x, ECP5-85F.
#
# Source board reference:
#   https://github.com/emard/ulx3s/blob/master/doc/constraints/ulx3s_v20.lpf
#
# This is a reference P&R target. A successful build does NOT constitute
# physical-board validation or measured performance.

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# 25 MHz onboard clock
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# FIRE1 / FIRE2 pushbuttons, active-high with pulldown
LOCATE COMP "rst" SITE "R1";
IOBUF PORT "rst" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "start_btn" SITE "T1";
IOBUF PORT "start_btn" PULLMODE=DOWN IO_TYPE=LVCMOS33;

# Four class bits on LEDs 0..3
LOCATE COMP "class_led[0]" SITE "B2";
LOCATE COMP "class_led[1]" SITE "C2";
LOCATE COMP "class_led[2]" SITE "C1";
LOCATE COMP "class_led[3]" SITE "D2";
IOBUF PORT "class_led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "class_led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "class_led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "class_led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Completion indicator on LED 4
LOCATE COMP "done_led" SITE "D1";
IOBUF PORT "done_led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
